/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px Helvetica,Arial,sans-serif; background:#F4F4F4; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:14px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px Helvetica,Arial,sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.trs {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
	overflow: hidden;
	width: 960px;
	min-height: 100%;
	margin: 0 auto;
	background: #fff;
}
.wrapper:after {
	content: '';
	display: block;
	width: 100%;
	height: 91px;
}
.inner-wrap {
	overflow: hidden;
	margin: 65px 20px 20px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-header {
	position: absolute;
	z-index: 5;
	width: 100%;
	background: #000;
}
	.main-navigation {
		text-align: center;
	}
		.main-navigation ul {
			display: inline-block;
		}
			.main-navigation li {
				display: inline-block;
				padding: 12px 20px;
			}
				.main-navigation a,
				.main-navigation span {
					color: #fff;
					font: bold 13px 'PT Sans', sans-serif;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 2px;

					-webkit-transition: all .3s;
					-moz-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
				}
				.main-navigation a:hover,
				.main-navigation span {
					color: #999;
				}
				.main-navigation span {
					cursor: default;
				}
	.btn-login {
		position: absolute;
		right: 20px;
		top: 10px;
		color: #fff;
		font: bold 14px 'PT Sans', sans-serif;
		background: none;
		border: none;

		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	.btn-login:hover {
		color: #999;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
	h1 {
		font-size: 22px;
		color: #00AEEC;
	}
	.description {
		float: left;
		width: 620px;
		margin: 10px 0 20px;
		font-size: 17px;
	}
		.description p:after {
			content: '';
			display: block;
			width: 600px;
			margin-top: 20px;
			border-bottom: 1px solid #ddd;
		}
		.list-mark {
			overflow: hidden;
		}
			.list-mark li {
				float: left;
				margin-right: 10px;
				color: #40BB0B;
			}
				.list-mark li:before {
					content: '#';
					display: inline;
					font-size: 12px;
				}
				.list-mark li:after {
					content: ',';
					display: inline;
					font-size: 12px;
				}
				.list-mark li:last-child:after {
					display: none;
				}
				.list-mark a {
					text-decoration: none;
					color: #40BB0B;
				}
				.list-mark a:hover {
					color: #30A000;
				}
	.my-foto {
		float: right;
		width: 180px;
		margin: 0 20px 20px 0;
	}
.main-content {
	float: left;
	width: 665px;
	margin-right: 15px;
}
	.list-post {
		overflow: hidden;
		margin-bottom: 15px;
	}
		.list-post li {
			margin-bottom: 25px;
			padding-top: 30px;
			border-top: 1px solid #ddd;
		}
		.list-post li:first-child {
			padding-top: 0;
			border: none;
		}
			.list-post a {
				display: inline-block;
				text-decoration: none;
			}
				.list-post h2:hover {
					color: #B34EE9;
				}
				.list-post h2 {
					display: inline-block;
					margin-bottom: 10px;
					font-size: 20px;
					color: #00AEEC;

					-webkit-transition: all .3s;
					-moz-transition: all .3s;
					-o-transition: all .3s;
					transition: all .3s;
				}
			.date {
				display: block;
				margin-bottom: 5px;
				color: #C7C7C7;
				font-size: 12px;
			}
				.date:before {
					content: '';
				}
			.img-post,
			.img-post img {
				display: block;
				width: 100%;
			}
			.list-post p {
				margin: 10px 0;
			}
	.wrap-pagination {
		text-align: center;
	}
		.pagination {
			overflow: hidden;
			display: inline-block;
		}
			.page-numbers li {
				display: inline-block;
				margin: 0 2px;
			}
				.page-numbers a {
					text-decoration: none;
				}
				.page-numbers a:hover {
					color: #00AEEC;
				}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.side-bar {
	float: left;
	width: 240px;
	padding: 1px 0 15px 10px;
	border-left: 1px solid #000;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
	.btn-subscription {
		display: block;
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: bold;
		border: none;
		background: none;
		color: #00AEEC;
	}
	.wrap-search {
		display: block;
	}
		.btn-text {
			padding: 2px 5px;
		}
		.btn-search {
			border: none;
			background: #00BBFF;
		}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
	margin-top: -91px;
	background: #fff;
}
.wrap-footer:before {
	content: '';
	display: block;
	width: 100%;
	height: 25px;
	background: #F4F4F4;
}
	.footer {
		width: 960px;
		margin: 0 auto;
		padding: 25px 0;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/