/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:14px Helvetica,Arial,sans-serif; background:#F4F4F4; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font-size:14px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px Helvetica,Arial,sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.trs {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
	overflow: hidden;
	width: 960px;
	min-height: 100%;
	margin: 0 auto;
	background: #fff;
}
.wrapper:after {
	content: '';
	display: block;
	width: 100%;
	height: 91px;
}
.inner-wrap {
	overflow: hidden;
	margin:80px 25px 20px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.main-header {
	position: absolute;
	z-index: 5;
	width: 100%;
	background: #00AEEC;
}
	.main-navigation {
		text-align: center;
	}
		.main-navigation ul {
			display: inline-block;
		}
			.main-navigation li {
				display: inline-block;
				padding: 12px 20px;
			}
				.main-navigation a,
				.main-navigation span {
					color: #fff;
					font: bold 13px 'PT Sans', sans-serif;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 2px;
				}
				.main-navigation a:hover,
				.main-navigation span {
					border-bottom: 1px solid #fff;
				}
				.main-navigation span {
					cursor: default;
				}
	.btn-login {
		position: absolute;
		right: 20px;
		top: 10px;
		color: #ff0;
		font: bold 14px 'PT Sans', sans-serif;
		background: none;
		border: none;
	}
	.btn-login:hover {
		color: #999;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.about-author {
	overflow: hidden;
}
	h1 {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 23px;
		color: #00AEEC;
	}
	.description {
		float: left;
		width: 620px;
		margin-bottom: 35px;
		font-size: 17px;
	}
		.description p:after {
			content: '';
			display: block;
			width: 600px;
			margin-top: 20px;
			border-bottom: 1px solid #ddd;
		}
		.list-mark {
			overflow: hidden;
		}
			.list-mark li {
				float: left;
				margin-right: 10px;
				color: #40BB0B;
			}
				.list-mark li:before {
					content: '#';
					display: inline;
					font-size: 12px;
				}
				.list-mark li:after {
					content: ',';
					display: inline;
					font-size: 12px;
				}
				.list-mark li:last-child:after {
					display: none;
				}
				.list-mark a {
					text-decoration: none;
					color: #40BB0B;
				}
				.list-mark a:hover {
					color: #30A000;
				}
	.my-foto {
		float: right;
		width: 180px;
		margin: 0 20px 35px 0;
	}
.wrap-content {
	float: left;
	width: 675px;
}
	.main-content {
		position: relative;
		display: block;
		padding-right: 25px;
		border-right: 1px solid #ddd;
	}
	.main-content:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -1px;
		height: 20px;
		width: 1px;
		background: #fff;
	}
		.list-post {
			overflow: hidden;
			margin-bottom: 35px;
		}
			.list-post li {
				margin-bottom: 25px;
				padding-top: 30px;
				border-top: 1px solid #ddd;
			}
			.list-post li:first-child {
				padding-top: 0;
				border: none;
			}
			.list-post li:last-child {
				margin-bottom: 0;
			}
				.list-post a {
					display: inline-block;
					text-decoration: none;
				}
					.list-post h2:hover {
						color: #B34EE9;
					}
					.list-post h2 {
						display: inline-block;
						margin-bottom: 10px;
						font-size: 20px;
						color: #00AEEC;

						-webkit-transition: all .3s;
						-moz-transition: all .3s;
						-o-transition: all .3s;
						transition: all .3s;
					}
						.list-post img {
							max-height: 360px;
						}
						.main-content img {
							max-height: 300px;
						}
				.date {
					display: block;
					margin-bottom: 5px;
					color: #C7C7C7;
					font-size: 12px;
				}
					.date:before {
						content: '';
					}
				.img-post,
				.img-post img {
					display: block;
					width: 100%;
				}
				.list-post p {
					margin: 10px 0;
				}
		.wrap-pagination {
			text-align: center;
		}
			.pagination {
				overflow: hidden;
				display: inline-block;
			}
				.page-numbers li {
					display: inline-block;
					margin: 0 2px;
				}
					.page-numbers a {
						text-decoration: none;
					}
					.page-numbers a:hover,
					.page-numbers span {
						color: #00AEEC;
					}
					.page-numbers span {
						cursor: default;
					}
					.page-numbers .current {
						font-weight: bold;
					}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.side-bar {
	float: left;
	width: 235px;
	margin: 20px 0 0 -1px;
	padding: 10px 0 35px 15px;
	border-left: 1px solid #ddd;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
	.btn-subscription {
		margin-bottom: 15px;
		padding: 0;
		font-size: 18px;
		font-weight: bold;
		border: none;
		background: none;
		color: #40BB0B;
	}
	.btn-subscription:hover {
		color: #30A000;
	}
	.wrap-search {
		float: right;
		display: block;
		margin-bottom: 15px;
	}
	.side-bar .wrap-search {
		float: none;
		margin-bottom: 35px;
	}
		.form-search {
			overflow: hidden;
			margin-top: 5px;
		}
			.btn-text {
				float: left;
				width: 150px;
				padding: 3px 5px;
				border: 1px solid #00BBFF;
				border-right: none;

				-webkit-border-top-left-radius: 3px;
				-webkit-border-bottom-left-radius: 3px;
				-moz-border-radius-topleft: 3px;
				-moz-border-radius-bottomleft: 3px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			.btn-search {
				float: left;
				height: 24px;
				border: none;
				background: #00BBFF;
				color: #fff;
				font-weight: bold;
				font-size: 14px;
				letter-spacing: -1px;

				-webkit-border-top-right-radius: 3px;
				-webkit-border-bottom-right-radius: 3px;
				-moz-border-radius-topright: 3px;
				-moz-border-radius-bottomright: 3px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
			.btn-search:hover {
				background: #0092C7;
			}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrap-footer {
	margin-top: -91px;
	background: #fff;
}
.wrap-footer:before {
	content: '';
	display: block;
	width: 100%;
	height: 25px;
	background: #F4F4F4;
}
	.footer {
		width: 960px;
		margin: 0 auto;
		padding: 25px 0;
	}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/